@reference "tailwindcss";

@layer components {
  html {
    @apply w-screen h-screen bg-black/20 flex items-center justify-center;
  }

  #root {
    @apply p-4 w-[90vw] sm:max-w-[1280px] bg-white rounded-xl overflow-y-auto dark:bg-black;
  }

  .badge {
    background: transparent !important;
    white-space: nowrap !important;
  }

  .table-container {
    max-height: 66vh;
    overflow-y: auto;
    min-height: 380px;

    .hover-visible {
      @apply invisible;
    }

    tr {
      &:hover {
        @apply bg-gray-100! dark:bg-gray-800!;

        .hover-visible {
          @apply visible!;
        }
      }
    }
  }

  .dropdown-content {
  }
}